.article
	width 100%
	color green 
	height auto
	background cyan 
	border .3rem solid darkgreen 
	border-radius 0.3rem
	padding 1rem
	margin 1rem
	font-family Roboto,sans-serif
	position relative

	&__button
		position absolute
		right 0.5rem
		top 0.5rem
		cursor pointer
		padding 0.4rem
		background yellowgreen
		user-select none
		text-transform uppercase
		font-weight bold