.news
	&__form
		margin-top 1rem
		width 40%
		height auto
		display flex
		flex-direction column
		padding 1rem
		background-color lightblue
	
	&__input
		border none
		margin-bottom 1rem
		padding 0.4rem
		font-size 1.2rem
		font-weight bold
		color green

	&__text
		border none
		margin-bottom 1rem
		padding 0.4rem
		font-size 1.2rem
		color green
		resize vertical

	&__button
		border none
		margin-bottom 1rem
		padding 0.4rem
		font-size 1.2rem
		color darkblue
		text-transform uppercase
	
	&__agree
		margin-bottom 1rem
		font-size 1.2rem
		color darkblue
		user-select none




	